@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

* {
  margin: 0; /* distancia entre elementos */
  padding: 0; /* distancia conteudo e borda */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; /* or column*/
  justify-content: center; /* eixo X */
  align-items: center; /* eixo Y */
  height: 100vh;
  background-color: azure;
}

body > span {
  padding-top: 5%;
  font-family: "Share Tech Mono";
  color: darkgray;
  font-size: 25px;
}

.clickMe {
  color: darkgray;
  font-size: 20px;
  /* text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #f0ce11,
    -15px 15px 0px #00bdbd; */
  /* text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #bac012, 0 0 30px #bac012, 0 0 40px #bac012, 0 0 55px #bac012, 0 0 75px #bac012, 2px 2px 2px rgba(206,192,60,0), 2px 2px 2px rgba(206,192,60,0), 2px 2px 2px rgba(206,192,60,0); */
  text-shadow: 1px 0px 10px #00e6e6, 5px 10px 15px #f0ce11, 0px 0px 20px #00bdbd,
    10px -10px 15px #f0ce11;
  cursor: pointer;
}

h1 {
  margin: 20px 0;
  font-size: 12rem;
  font-family: "Nabla";
  text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #f0ce11,
    -15px 15px 0px #00bdbd;
  color: #ffffff;
  word-spacing: 50px;
  font-style: italic;
}

h1:hover {
  font-size: 16rem;
  transition-duration: 5s;
  cursor: pointer;
}

h6 {
  padding-top: 1%;
  font-family: "Share Tech Mono";
  color: darkgray;
  font-size: 15px;
}

article {
  display: flex;
  flex-direction: column; /* or column*/
  justify-content: center; /* eixo X */
  align-items: center; /* eixo Y */
  height: 100vh;
  /* background-color: azure; */
  padding-bottom: 70px;
}

section {
  display: flex;
  flex-direction: row; /* or column*/
  justify-content: center; /* eixo X */
  align-items: center; /* eixo Y */
  /* height: 100vh; */
  /* background-color: azure; */
  padding: 1px 1px;
}

footer {
  font-family: "Share Tech Mono";
  color: darkgray;
  /* background-color: azure; */
  padding: 5px 5px;
}

.hide {
  display: none;
}

div {
  padding-left: 3em;
  padding-right: 3em;
  width: 9em;
}

p {
  font-size: 5em;
  font-variant-numeric: lining-nums;
  font-family: "Nabla";
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

p:hover {
  cursor: pointer;
}

#gire1,
.trunfo {
  text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #f0ce11,
    -15px 15px 0px #00bdbd;
}

#timer {
  margin:auto;
  display: flex;
  justify-content: center;
  /* padding-right: 12px; */
}

#divDosDadinhos {
  display: flex;
  flex-direction: row; /* or column*/
  justify-content: space-evenly; /* eixo X */
  align-items: baseline; /* eixo Y */
  /* height: 100vh; */
  /* background-color: azure; */
  padding: 1px 1px;
  width: 13em;
  margin-bottom: 5px;
}

.bg {
  background-color: #e7e7f5;
  opacity: 0.8;
  background-image: radial-gradient(rgb(138, 253, 253) 0.9px, azure 0.9px);
  background-size: 22px 22px;
}

@media (width < 768px) {
  p {
    font-size: 4em;
    font-variant-numeric: lining-nums;
    font-family: "Nabla";
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  div {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 5em;
    /* margin-left: ; */
  }

  article {
    padding-bottom: 20px;
  }

  section {
    display: flex;
    flex-direction: row; /* or column*/
    justify-content: center; /* eixo X */
    align-items: center; /* eixo Y */
    /* height: 100vh; */
    /* background-color: azure; */
    padding: 1px 1px;
    width: fit-content;
  }

  h1 {
    font-size: 6em;
  }

  body {
    height: 85vh;
  }

  h1:hover {
    font-size: 8em;
  }
}
