@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
    margin: 0; /* distancia entre elementos */
    padding: 0; /* distancia conteudo e borda */
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column; /* or column*/
    justify-content: center; /* eixo X */
    align-items: center; /* eixo Y */
    height: 100vh;
    background-color: azure;
  }

  body>span {
    padding-top: 7%;
    font-family: 'Share Tech Mono';
    color: darkgray;
    font-size: 20px;    
  }
  h6 {
    padding-top: 1%;
    font-family: 'Share Tech Mono';
    color: darkgray;
    font-size: 15px;      
  }

  article {
    display: flex;
    flex-direction: column; /* or column*/
    justify-content: center; /* eixo X */
    align-items: center; /* eixo Y */
    height: 100vh;
    background-color: azure;
    padding-bottom: 120px;
  }
  
  section {
    display: flex;
    flex-direction: row; /* or column*/
    justify-content: center; /* eixo X */
    align-items: center; /* eixo Y */
    /* height: 100vh; */
    background-color: azure;
    padding: 1px 1px
  }
  
  footer {
    font-family: 'Share Tech Mono';
    color: darkgray;
    background-color: azure;
    padding: 5px 5px
  }



  div {
    padding-left: 3em;
    padding-right: 3em;
  }


  p {
    
    font-size: 4em;
    /* font-family: 'Nabla'; */
    /* color: aqua; */
  }

  p:hover {
    cursor: pointer;

  }

  #gire1,
  .trunfo {
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #f0ce11,
    -15px 15px 0px #00bdbd;
  }